
.nav-wrapper {
  width: 100%;
  height: 70px;

  background-color: var(--container-bg-primary);
  color: var(--container-text-primary);

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-weight: bold;
  padding: 4px 14px;
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-item {
  text-decoration: none;
  list-style: none;

  padding: 4px 14px;
}
