<div>
  <h1 class="text-4xl pb-4">
    Add Credit Card
  </h1>
  <form
    class="bg-gray-300 p-8 rounded-md w-9/12 shadow-xl"
    [formGroup]="creditCardForm" (ngSubmit)="submit()"
  >
<!--          CARD NUMBER -->
        <div
          class="flex flex-row item-center p-1"
        >
          <label
            for="cardNumber"
            class="w-44"
          >
            Card Number
          </label>
          <input
            class="p-1 mr-3 bg-white rounded-md"
            type="text" id="cardNumber" formControlName="cardNumber"
          >
          @if (creditCardForm.get('cardNumber')!.touched) {
            <div class="text-red-600">
              @if (creditCardForm.get('cardNumber')!.hasError('required')) {
                <div>Card Number is required.</div>
              }
              @if (creditCardForm.get('cardNumber')!.hasError('min')) {
                <div>Card Number must be at least 7 digits</div>
              }
              @if (creditCardForm.get('cardNumber')!.hasError('max')) {
                <div>Card Number must be at most 16 digits</div>
              }
              @if (creditCardForm.get('cardNumber')!.hasError('pattern')) {
                <div>Card Number must be only digits</div>
              }
            </div>
          }
        </div>

<!--          CARDHOLDER NAME -->
        <div
          class="flex flex-row item-center p-1"
        >
          <label
            class="w-44"
            for="cardHolderName"
          >
            Cardholder Name
          </label>
          <input
            class="p-1 mr-3 bg-white rounded-md"
            type="text" id="cardHolderName" formControlName="cardHolderName"
          >
          @if (creditCardForm.get('cardHolderName')!.touched) {
            <div
              class="text-red-600"
            >
              @if (creditCardForm.get('cardHolderName')!.hasError('required')) {
                <div>Cardholder Name is required.</div>
              }
            </div>
          }
        </div>

<!--          CSC CODE -->
        <div
          class="flex flex-row item-center p-1"
        >
          <label
            class="w-44"
            for="cscCode"
          >
            CSC Code
          </label>
          <input
            class="p-1 mr-3 bg-white rounded-md"
            type="text" id="cscCode" formControlName="cscCode"
          >
          @if (creditCardForm.get('cscCode')!.touched) {
            <div class="text-red-600">
              @if (creditCardForm.get('cscCode')!.hasError('required')) {
                <div>CSC Code is required.</div>
              }
              @if (creditCardForm.get('cscCode')!.hasError('pattern')) {
                <div>CSC Code must be exactly 3 digits and only numbers.</div>
              }
            </div>
          }
        </div>

<!--          EXPIRATION MONTH -->
        <div
          class="flex flex-row item-center p-1"
        >
          <label
            class="w-44"
            for="expirationMonth"
          >
            Expiration Month
          </label>
          <input
            class="p-1 mr-3 bg-white rounded-md"
            type="text" id="expirationMonth" formControlName="expirationMonth"
          >
          @if (creditCardForm.get('expirationMonth')!.touched) {
            <div
              class="text-red-600"
            >
              @if (creditCardForm.get('expirationMonth')!.hasError('required')) {
                <div>Expiration month is required.</div>
              }
              @if (creditCardForm.get('expirationMonth')!.hasError('min') || creditCardForm.get('expirationMonth')!.hasError('max')) {
                <div>Expiration month must be between 1 and 12.</div>
              }
              @if (creditCardForm.get('expirationMonth')!.hasError('pattern')) {
                <div>Expiration month must be a number.</div>
              }
            </div>
          }
        </div>

<!--          EXPIRATION YEAR -->
        <div
          class="flex flex-row item-center p-1"
        >
          <label
            class="w-44"
            for="expirationYear"
          >
            Expiration Year
          </label>
          <input
            class="p-1 mr-3 bg-white rounded-md"
            type="text" id="expirationYear" formControlName="expirationYear"
          >
          @if (creditCardForm.get('expirationYear')!.touched) {
            <div
              class="text-red-600"
            >
              @if (creditCardForm.get('expirationYear')!.hasError('required')) {
                <div>Expiration year is required.</div>
              }
              @if (creditCardForm.get('expirationYear')!.hasError('pattern')) {
                <div>Expiration year must be a number.</div>
              }
            </div>
          }
        </div>

<!--          ISSUER -->
        <div
          class="flex flex-row item-center p-1"
        >
          <label
            class="w-44"
            for="issuer"
          >
            Issuer
          </label>
          <input
            class="p-1 mr-3 bg-white rounded-md"
            type="text" id="issuer" formControlName="issuer"
          >
        </div>

        <div>
          <button class="bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-500 hover:cursor-pointer" type="submit">Submit</button>
        </div>

  </form>
</div>
