<div class="w-2xs p-4 m-4 bg-gray-400 rounded-2xl shadow-md shadow-neutral-700">
  <p>Card holder: {{creditCardInfo().cardHolderName}}</p>
  <p>{{creditCardInfo().cardNumber}} - CSC: {{creditCardInfo().cscCode}}</p>
  <p>Exp: {{creditCardInfo().expirationMonth}}/{{creditCardInfo().expirationYear}}</p>
  <p>Issuer: {{creditCardInfo().issuer}}</p>
</div>

<div>
  <p>Transactions:</p>
  @if (transactions().length === 0) {
  <p>No Transactions on card!</p>
  }
  <table class="w-full mt-4 border-collapse">
    <thead>
      <tr class="bg-gray-100">
        <th class="p-2 text-left text-black border border-gray-300">Card number</th>
        <th class="p-2 text-left text-black border border-gray-300">Amount</th>
        <th class="p-2 text-left text-black border border-gray-300">Currency</th>
        <th class="p-2 text-left text-black border border-gray-300">Comment</th>
        <th class="p-2 text-left text-black border border-gray-300">Date</th>
      </tr>
    </thead>

    <tbody>
      @for (transaction of transactions(); track transaction) {
      <tr>
        <td class="p-2 border border-gray-300">{{ transaction.cardNumber }}</td>
        <td class="p-2 border border-gray-300">{{ transaction.amount }}</td>
        <td class="p-2 border border-gray-300">{{ transaction.currencyCode }}</td>
        <td class="p-2 border border-gray-300">{{ transaction.comment }}</td>
        <td class="p-2 border border-gray-300">{{ transaction.transactionDate }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>